html, body {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("./flowers-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    color: #333;
}

* {
    box-sizing: border-box;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0 13px 0 0;
    cursor: pointer;
}

label {
    cursor: pointer;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 12px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    margin: 0 0 12px;
}

b {
    font-weight: 700;
}

a {
    color: #333;
}
a:hover {
    text-decoration: none;
}

header {
    display: flex;
    min-height: 370px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header .site-name {
    color: #FEE006;
    font-weight: 600;
    font-size: 24px;
    margin: 16px 0 32px;
}

header .donation-request {
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0 0 32px;
}

header .donation-goal {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 16px;
}

.message {
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    text-align: center;
}
.message .heading {
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    margin: 0 0 32px;
}

.form {
    display: block;
    width: 800px;
    min-height: 470px;
    margin: 0 auto;
    padding-top: 48px;
    
}

.property {
    display: flex;
    padding-bottom: 24px;
    color: #333;
}

.property .label {
    display: inline-block;
    display: inline-block;
    flex-shrink: 0;
    width: 120px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-right: 50px;
    font-weight: 300;
}

.property .radio-option {
    margin-right: 16px;
    width: 300px;
}

.property .radio-option .main-content {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.property .radio-option .sub-content {
    display: block;
    font-size: 16px;
    margin-left: 35px;
    line-height: 24px;
}

.property.amount .label {
    margin-top: 24px;
}

.property.amount .radio-option {
    width: 142px;
}

.property.amount .radio-option .main-content {
    color: #0094D4;
    font-size: 56px;
    line-height: 56px;
    font-weight: 400;
}

.property.email input {
    width: 240px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px 25px;
}

.property.email .donate-btn {
    width: 240px;
    height: 35px;
    background: #0070ba;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    color: #FFFFFF;
    margin-left: 100px;
}

.property.email .donate-btn:active {
    background: #FFFFFF;
    color: #0070ba;;
}

.address {
    color: #333;
}

footer {
    width: 800px;
    margin: 32px auto 0;
}
footer .contacts {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}

footer .contacts .contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 32px 16px 0;
    background: #FEE006;
}


footer .contacts .contact-link .link-text {
    color: #333;
    line-height: 32px;
    padding: 0 8px;
    white-space: nowrap;
}

footer .contacts .contact-link .icon {
    width: 32px;
    height: 32px;
}

footer .contacts .contact-link .link-text.cryptedphone:after {
    content: attr(data-code) " " attr(data-number); 
}

footer .contacts .contact-link .link-text.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

@media (max-width: 840px) {

    .form {
        width: auto;
        padding-top: 8px;
        min-height: auto;
    }
    .property {
        flex-direction: column;
        padding: 16px;
        max-width: 100%;
    }
    .property.amount .label {
        margin-top: 0;
    }
    .property.amount .radio-option .main-content {
        font-size: 48px;
        line-height: 48px;
    }
    .property:not(.amount) {
        background: #FEE006;
    }
    .property .label {
        width: auto;
    }
    .property .radio-option {
        width: 100% !important;
        padding-left: 32px;
    }

    .property.email input,
    .property.email .donate-btn {
        width: auto;
        align-self: stretch;
        margin: 8px 32px 0;
    }

    header,
    footer {
        width: auto;
        padding: 0 16px;
    }

    header .donation-request {
        font-size: 48px;
        line-height: 48px;
    }

    footer .contacts .contact-link {
        margin: 0 16px 16px 0;
    }

    .message .heading {
        font-size: 48px;
        line-height: 48px;
    }
}


.paypal-buttons-container {
    display: block;
    margin-left: 100px;
    width: 240px;
    height: 48px;
}
