html, body {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./flowers-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

* {
    box-sizing: border-box;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0 13px 0 0;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.header {
    display: flex;
    min-height: 370px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header .site-name {
    color: #FEE006;
    font-weight: 600;
    font-size: 24px;
}

.header .donation-request {
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 16px 0;
}

.header .donation-goal {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.form {
    display: block;
    margin-top: 24px;
    min-height: 436px;
}

.property {
    display: flex;
    padding-bottom: 24px;
    color: #333;
}

.property .label {
    display: inline-block;
    display: inline-block;
    flex-shrink: 0;
    width: 120px;
    font-size: 24px;
    margin-right: 50px;
}

.property .radio-option {
    margin-right: 16px;
    width: 300px;
}

.property .radio-option .main-content {
    font-size: 24px;
    font-weight: bold;
}

.property .radio-option .sub-content {
    display: block;
    font-size: 16px;
    margin-left: 35px;
    line-height: 24px;
}

.property.amount .label {
    margin-top: 34px;
}

.property.amount .radio-option {
    width: 142px;
}

.property.amount .radio-option .main-content {
    color: #0094D4;
    font-size: 56px;
}

.property.email input {
    width: 240px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 10px 25px;
}

.property.email .donate-btn {
    width: 240px;
    height: 48px;
    background: #0094D4;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: 100px;
}

.property.email .donate-btn:active {
    background: #FFFFFF;
    color: #0094D4;;
}

.address {
    color: #333;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.footer .section {
    color: #333;
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    justify-content: center;
}

.footer .section .phone-number-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 8px 8px;
}


.footer .section .phone-number {
    background: #FEE006;
    color: #333;
    padding: 4px;
    white-space: nowrap;
}

.footer .section .icon {
    width: 32px;
    height: 32px;
}

.cryptedphone:after {
    content: attr(data-code) " " attr(data-number); 
}

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

@media (max-width: 840px) {

    .form {
        width: 100%;
        margin-top: 8px;
        min-height: auto;
    }

    .property {
        flex-direction: column;
        padding: 10px;
        max-width: 100%;
    }

    .property:not(.amount) {
        background: #FEE006;
    }

    .property.amount .label {
        margin-top: 0;
    }

    .property .label {
        width: auto;
    }

    .property .radio-option {
        width: 100% !important;
        padding-left: 32px;
    }

    .property.email input,
    .property.email .donate-btn {
        width: auto;
        align-self: stretch;
        margin: 8px 32px 0;
    }
}
