html, body {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./flowers-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

* {
    box-sizing: border-box;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0 13px 0 0;
}

label {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header .site-name {
    color: #FEE006;
    font-weight: 600;
    font-size: 24px;
}

.header .donation-request {
    max-width: 600px;
    font-size: 56px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 10px 0;
}

.header .donation-goal {
    color: #FFFFFF;
    max-width: 180px;
    font-size: 16px;
    font-weight: 400;
}

.form {
    display: block;
    margin-top: 150px;
}

.property {
    display: flex;
    margin-bottom: 40px;
}

.property .label {
    display: inline-block;
    display: inline-block;
    flex-shrink: 0;
    width: 120px;
    font-size: 24px;
    margin-right: 50px;
}

.property .radio-option {
    margin-right: 25px;
    max-width: 300px;
}

.property .radio-option .main-content {
    font-size: 24px;
    font-weight: bold;
}

.property .radio-option .sub-content {
    display: block;
    font-size: 16px;
    margin-left: 35px;
    line-height: 24px;
}

.property.amount .label {
    margin-top: 32px;
}

.property.amount .radio-option {
    margin-right: 33px;
}

.property.amount .radio-option .main-content {
    color: #0094D4;
    font-size: 56px;
}

.property.pay-by .radio-option:last-child {
    margin-left: 57px;
}

.property.email input {
    width: 240px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 10px 25px;
}

.property.email .donate-btn {
    width: 240px;
    height: 48px;
    background: #0094D4;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: 100px;
}

.property.email .donate-btn:active {
    background: #FFFFFF;
    color: #0094D4;;
}

.address {
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 350px;
}

.footer .section {
    display: flex;
    margin: 2px;
}

.footer .section .phone-number-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer .section .phone-number {
    background: #FEE006;
    color: black;
    padding: 4px;
}

.footer .section .icon {
    width: 32px;
    height: 32px;
}
